ADF/pipeline/PL_CopyWeather.json
{
	"name": "PL_CopyWeather",
	"properties": {
		"activities": [
			{
				"name": "Cere_O_Gluma_De_Succes",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://catfact.ninja/fact"
				}
			},
			{
				"name": "Citeste_Fisiere_Bronze",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_BronzeFolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Citeste_Fisiere_Bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Citeste_Fisiere_Bronze').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ingestion_timestamp",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ingestion_timestamp",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "temperature_celsius",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "temperature_celsius",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "windspeed_kmh",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "windspeed_kmh",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "wind_direction",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "wind_direction",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "weather_code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "weather_code",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "is_day",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "is_day",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "location_lat",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "location_lat",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "location_lon",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "location_lon",
												"type": "Double",
												"physicalType": "float"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS_WeatherCSV",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQL_WeatherTable",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-03-05T12:15:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}